@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*
{
  
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;

}
body
{
    display: flex;
    background: lightblue;
    justify-content: center;
    align-items: center;
    min-height:100px;
}
.container
{
    position: relative;
    width:100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color:white;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.3);
}

.container .leftSide
{
    position: relative;
    padding:40px;
    background-color: #003147;
}
.container .rightSide
{
    position: relative;
    padding:40px;
}
.profImg img
{
    position: relative;
    height:200px;
    width:200px;
    border-radius:100%;
}
.profileText h2 
{
    color:white;
    text-transform: uppercase;
    font-size:1.5em;
    line-height: 1.4em;
    margin-top: 20px;
    font-weight:600;
}
.profileText span
{
    color:white;
    font-size:1em;
    font-weight:400;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.contactInfo .title
{
    color:white;
    text-transform: uppercase;
    letter-spacing:.5px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
}
.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 14px;
    color: #03a9f4;
}
.contactInfo ul li span
{
    color:white;
    text-align: center;
    font-weight: 350;
}
.contactInfo.education ul
{
    margin-bottom: 15px;
}
.contactInfo.education h5
{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color:#fff;
    font-weight:500;
}
.contactInfo.education h4
{
    color: #fff;
    font-weight:300;
}
.contactInfo.lang .percent
{
    position: relative;
    width: 100%;
    height: 5px;
    background: #081921;
    display: block;
    margin-top: 5px;
    border-radius:10%;
}
.contactInfo.lang .percent div
{
    position: absolute;
    height:100%;
    background: #03a9f4;
}
.about
{
    margin-bottom: 20px;
}
.title2
{
    color: #032;
    text-transform: uppercase;
    letter-spacing:0.5px;
    margin-bottom:15px;
}
.year_company h5
{
    margin-bottom:0;
    margin-top: 0;
}
.text h4
{
    margin: 0;
}
.text p
{
    margin: 0;
    margin-bottom: 15px;
}
.about .box 
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: #848c98;
    font-size:0.8em
}
.about .box .text h4
{
    color:#03a9f4;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.skills .box 
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-content: center;
}
.skills .box .text
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: bold;
    margin-right: 5px;
}
.skills .box .percent
{
    position: relative;
    height: 10px;
    background-color: #f0f0f0 ;
}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    background-color: #03a9f4;
}
.interest .title2
{
    letter-spacing:1px;
}
.interest .items ul    
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
}
.interest .items ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
}
.interest .items ul li i
{
    margin-right: 5px;
    color:#03a9f4;
    font-size: 18px;
}

@media (max-width:1000px)
{
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest .items ul
    {
        grid-template-columns: repeat(2,1fr);
        
    }
    .interest .items ul li
    {
        margin: 5px;
    }
}
@media (max-width:600px) 
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company h5
    {
        margin-bottom:5px;
    }
    .interest .items ul
    {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box
    {
        grid-template-columns: repeat(1,1fr);
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.btn 
{
   position: relative;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px ;
    background-color: #081921;
    border-radius:20%;
}